<div class="row">
  <div class="col-12 tagline">
    <i>Since 1961, Southern California's Favorite Bluegrass, Old-Time and Folk Music Festival</i>
  </div>
</div>

<div class="row">
  <div id="carouselExampleSlidesOnly" class="carousel slide col-12" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'application/carousel_image1.jpg', class: 'd-block w-100' %>
        <div class="carousel-caption">
          <h3>NEXT EVENT:<br>May 20th, 2018</h3>
          <h6 class="d-none d-md-block">Save the date!</h6>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'application/carousel_image2.jpg', class: 'd-block w-100' %>
        <div class="carousel-caption">
          <h3>Enjoy free events, all year long!</h3>
          <h6 class="d-none d-md-block">Learn more about our free concerts in public places</h6>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'application/carousel_image3.jpg', class: 'd-block w-100' %>
        <div class="carousel-caption">
          <h3>GET INVOLVED!</h3>
          <h6 class="d-none d-md-block">Become a volunteer, register as a vendor and get ready for this year's artwork contest!</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="row" />

<div class="row">
  <div class="col-sm-12 col-md-4">
    <%= button_to 'BUY TICKETS', tickets_path, class: "btn main-button", :method => :get %>
  </div>
  <div class="col-sm-12 col-md-4">
    <%= button_to 'CONTESTANT REGISTRATION', contestants_path, class: "btn main-button", :method => :get %>
  </div>
  <div class="col-sm-12 col-md-4">
    <%= button_to 'GET INVOLVED', getinvolved_path, class: "btn main-button", :method => :get %>
  </div>
</div>

<div class="row">
  <div class="card border-dark">
    <div class="card-header bg-transparent">
      <h3>2017 Artwork Contest</h3>
    </div>
    <div class="card-body">
      <h4 class="card-subtitle">The 2017 winner is...</h4>
      <img class="card-image" src="http://topangabanjofiddle.org/images/2017/2017_graphic_winner.jpg">
      <p class="card-text">Cheryl Pelly!<br><br>
        Thanks to all who submitted. Graphic submission rules will be revised for 2018, and we hope to hear from you all again!
      </p>
    </div>
    <div class="card-footer">
      <p class="float-right">Posted October 9th, 2017 by Juli E.</p>
    </div>
  </div>
</div>

