<!DOCTYPE html>
<html>
  <head>
    <title>TBFC - Topanga Banjo Fiddle Contest</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_react' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col col-lg-2">
          <nav class="nav flex-column">
            <%= image_tag 'shared/logo_1.jpg', class: 'img-fluid' %>
            <%= link_to 'HOME', root_path, class: 'nav-item nav-link' %>
            <%= link_to 'EVENT INFO', event_path, class: 'nav-item nav-link' %>
            <%= link_to 'FREE CONCERTS', concerts_path, class: 'nav-item nav-link' %>
            <%= link_to 'TICKETS', tickets_path, class: 'nav-item nav-link' %>
            <%= link_to 'CONTESTANTS', contestants_path, class: 'nav-item nav-link' %>
            <%= link_to 'ABOUT', about_path, class: 'nav-item nav-link' %>

          </nav>
        </div>
        <div class="col col-lg-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
